@{
    ViewBag.Title = "ExpensesTracker - Delete";
}

<!-- Add Entry - Form -->
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow p-4" style="width: 100%; max-width: 500px;">
        <h2 class="text-center mb-4">Delete Entry</h2>
        <form asp-controller="Entry" asp-action="Delete" method="post">
            <input type="hidden" name="Id" value="@(ViewBag.EntryId)">

            <div class="mb-3">
                <label for="name" class="form-label"><i class="fa-solid fa-file-invoice fa-xs"></i>Name</label>
                <input type="text" class="form-control" id="name" name="Name" placeholder="Enter name" required maxlength="50" value="@(ViewBag.DeleteModel?.Name)" disabled="disabled">
            </div>

            <div class="mb-3">
                <label for="amount" class="form-label"><i class="fa-solid fa-money-bill fa-xs"></i>Amount</label>
                <input type="number" class="form-control" id="amount" name="Amount" placeholder="Enter amount" required min="1" step=".01" value="@(ViewBag.DeleteModel?.Amount)" disabled="disabled">
            </div>

            <div class="mb-3">
                <label for="date" class="form-label"><i class="fa-solid fa-calendar fa-xs"></i>Date</label>
                <input type="date" class="form-control" id="date" name="Date" required value="@(ViewBag.DeleteModel?.Date?.ToString("yyyy-MM-dd"))" disabled="disabled">
            </div>

            @if (ViewBag.ErrorList != null)
            {
                <div id="errorBox" class="alert alert-danger p-2" role="alert">
                    <ul class="my-1" style="list-style-type:none;padding-left:10px;">
                        @foreach (string error in ViewBag.ErrorList)
                        {
                            <li><i class="fa-solid fa-circle-xmark fa-xs"></i>@error</li>
                        }
                    </ul>
                </div>
            }

            <div class="d-flex justify-content-center gap-3">
                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash fa-xs"></i>Delete</button>
                <a href="~/entry" class="btn btn-secondary"><i class="fa-solid fa-xmark fa-xs"></i>Cancel</a>
            </div>
        </form>
    </div>
</div>